streamlit==1.45.1
pandas==2.2.3
networkx==3.4.2
matplotlib==3.8.2
pyvis==0.3.2
dataloaders==0.0.1
pandera==0.22.1
scipy==1.11.4
seaborn==0.13.1
gravis==0.1.0
openai==1.76.0
pingouin==0.5.3
gprofiler-official==1.0.0
scanpy==1.11.1
python-dotenv==1.1.0
pydantic==2.11.3
rich==14.0.0
typing-extensions==4.12.2
reportlab==4.0.9
